<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment Reminder</title>

    <style>
        body {
            background-color:gainsboro;
        }
        i, a {
            color: hotpink;
        }
        button {
            color: brown;
            padding: 8px 12px;
            border: 1px solid #ED2939;
            border-radius: 2px;
            font-family: Helvetica, Arial, sans-serif;
            font-size: 14px;
            text-decoration: none;
            font-weight: bold;
            display: inline-block;  
        }
    </style>
</head>
<body>
    <h2> RESERVELY Appointment Reminder </h2>
    <p>Hello <i>{{name}}</i>, 
    <p>This is a reminder for your appointment for {{serviceName}} with {{businessName}} scheduled at <b>{{day}}</b> from <b>{{time}}</b></p>
    <p>The staff assigned is <i>{{staff}}</i></p>
    <p>We are exicted to have you.</p>
    
    <br>

    <h4>See you there!</h4>
    <h4><i>Best regards, from all of us @RESERVELY</i></h4>



</body>
</html>